.quora{
    display: flex;
    flex-direction: column;
    background-color: rgb(241,241,241);
    overflow-x: hidden;
}
.main-content{
    display: flex;
    /* justify-content: space-around; */
    padding: 80px 10px;
    width: 100%;

}
.sidebar-home{
   width: 20%;
}
.feeds{
    width: 55%;
    padding-left: 50px;
    
}
.advertisement{
    width: 20%;
    
    position: fixed;
    right: 0;
    bottom: 0;
    top: 60px;
    
}
/* .advertisement img{
    object-fit:cover;
    
} */